@charset "utf-8";
@import "variable";
//
//VENDOR :: BEGIN
//
@import "../fonts/font-awesome-4.7/css/font-awesome.min.css";
@import "../js/slick/slick.css";
@import "../js/slick/slick-theme.css";
@import "reset.css";
@import "../js/swiperjs/swiper-bundle.min.css";
//
//VENDOR :: END
//

.clear {
  @extend %clear;
}

::-moz-selection {
  background: lighten($primary-color, 30%);
}

::selection {
  background: lighten($primary-color, 30%);
}
%bgGradient {
  background: -webkit-linear-gradient(130deg, #819177 0, #946d49 80%);
  background: linear-gradient(130deg, #819177 0, #946d49 80%);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $primary-color;
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

body {
  font-family: $font-p;
  color: $primary-txt-color;
  font-size: 14px;
  line-height: 1.4;
  @include media(#{$sp-w}px) {
    @include transition(0.3s);
    &.menuin {
      margin-left: 270px;
      margin-right: -270px;
      overflow: hidden;
      height: 100vh;
      width: 100vw;
      &.ios {
        position: fixed;
        left: 0;
        right: 0;
      }
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: $font-h;
  line-height: 1.3;
}
img {
  max-width: 100%;
  height: auto;
}
strong,
.bold {
  font-weight: bold;
}

.all {
  @extend .clear;
  position: relative;
  margin: 0 auto;
  width: #{$main-w}px;
  max-width: 100%;
  @include media(#{$main-w + 20}px) {
    width: 100%;
    padding: 0 10px;
  }
}

.left {
  float: left;
}
.right {
  float: right;
}
.center-txt {
  text-align: center;
}
.left-txt {
  text-align: left;
}
.right-txt {
  text-align: right;
}
.hl-txt {
  color: $primary-color;
}

.fcontrol {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  width: 100%;
  height: 40px;
  font-family: $font-p;
  font-size: 14px;
  border: solid 1px #e1e1e1;
  padding: 10px 15px;
  line-height: 20px;
  outline: 0;
  @include transition(0.3s);
  &:focus {
    border-color: $primary-color;
    @include box-shadow(
      inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba($primary-color, 0.6)
    );
  }
  &.pill-control {
    border-radius: 20px;
    -webkit-border-radius: 20px;
  }
}
select.fcontrol {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background: url(../images/icon-select.png) no-repeat right 15px center;
  padding: 0;
  padding-right: 25px;
  padding-left: 15px;
  line-height: 40px;
}
.fcontrol:invalid,
.fcontrol.invalid {
  //    border-color: #ff0000;
  //    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(#ff0000, .6));
}
textarea.fcontrol {
  height: 100px;
  resize: none;
  padding: 10px 15px;
}
.btn {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  border: none;
  color: $primary-color;
  height: 40px;
  line-height: 20px;
  background-color: transparent;
  @include transition(0.3s);
  padding: 10px 20px;
  text-align: center;
  &.pill-btn {
    border-radius: 20px;
    -webkit-border-radius: 20px;
  }
  &.primary-btn {
    background-color: $primary-color;
    color: white;
    &:hover {
      color: white;
      background-color: darken($primary-color, 10%);
    }
  }

  &:active {
    -webkit-box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
}
.navbar-toggle {
  float: right;
  width: 70px;
  height: 70px;
  padding: 11px 8px;
  margin-top: 4px;

  background-color: transparent;
  background-image: none;

  border-radius: 0px;
  border: none;
  text-align: center;
  color: #fff;

  cursor: pointer;
  position: relative;
  outline: none;

  @include transition(0.3s);

  animation: goFromRight 1s;
  -webkit-animation: goFromRight 1s;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: solid 1px rgba(#fff, 0.7);
    @include transition(0.3s);
    z-index: -1;
  }

  .icon-bar {
    @include transition(0.5s);
    display: block;
    width: 30px;
    height: 1px;
    border-radius: 1px;
    margin: 0 auto;
    background-color: #fff;
    & + .icon-bar {
      margin-top: 5px;
    }
    &:nth-child(1) {
      -webkit-transform: translate(-1px, 6px);
      -moz-transform: translate(-1px, 6px);
      -o-transform: translate(-1px, 6px);
      -ms-transform: translate(-1px, 6px);
      transform: translate(-1px, 6px);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      -webkit-transform: translate(-1px, -6px);
      -moz-transform: translate(-1px, -6px);
      -ms-transform: translate(-1px, -6px);
      -o-transform: translate(-1px, -6px);
      transform: translate(-1px, -6px);
    }
  }
  .icon-text {
    display: block;
    @include transition(1s);
  }
  &:hover {
    &:after {
      border-radius: 50%;
      background-color: $primary-color;
    }
  }

  &.open {
    &:after {
      border-color: $primary-color;
      background-color: transparent;
    }
    .icon-text {
      opacity: 0;
    }
    .icon-bar {
      background-color: $primary-color;
    }
    .icon-bar:nth-child(1) {
      -webkit-transform: translate(-1px, 13px) rotate(-225deg) scale(1, 4);
      -moz-transform: translate(-1px, 13px) rotate(-225deg) scale(1, 4);
      -o-transform: translate(-1px, 13px) rotate(-225deg) scale(1, 4);
      -ms-transform: translate(-1px, 13px) rotate(-225deg) scale(1, 4);
      transform: translate(-1px, 13px) rotate(-225deg) scale(1, 4);
    }
    .icon-bar:nth-child(2) {
      opacity: 0;
    }
    .icon-bar:nth-child(3) {
      -webkit-transform: translate(-1px, 1px) rotate(225deg) scale(1, 4);
      -moz-transform: translate(-1px, 1px) rotate(225deg) scale(1, 4);
      -ms-transform: translate(-1px, 1px) rotate(225deg) scale(1, 4);
      -o-transform: translate(-1px, 1px) rotate(225deg) scale(1, 4);
      transform: translate(-1px, 1px) rotate(225deg) scale(1, 4);
    }
    &:hover {
    }
  }
}
.dropdown {
  position: relative;

  &:hover {
    .sub-menu-wrap {
      display: block;
      -webkit-transform: perspective(1200px) rotateX(0deg);
      transform: perspective(1200px) rotateX(0deg);
      background-color: rgba(#fff, 0.99);
    }
    .dropdown-toggle {
      & + .sub-menu-wrap {
        -webkit-transform: perspective(1200px) rotateX(-90deg);
        transform: perspective(1200px) rotateX(-90deg);
      }
    }
  }
  &.open {
    .dropdown-toggle {
      & + .sub-menu-wrap {
        display: block;
        -webkit-transform: perspective(1200px) rotateX(0deg);
        transform: perspective(1200px) rotateX(0deg);
        background-color: rgba(#fff, 0.99);
      }
    }
  }
}

.sub-menu-wrap {
  position: absolute;
  z-index: 1;
  width: auto;
  top: 100%;
  right: 0;
  display: block;
  background-color: darken(#fff, 10%);
  @include transition(0.3s);
  transition-timing-function: cubic-bezier(0.7, 0, 0.185, 1);
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.185, 1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: perspective(1200px) rotateX(-90deg);
  transform: perspective(1200px) rotateX(-90deg);
  .sub-menu {
    color: #000;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    li {
      display: block;
      float: none;
      > a {
        line-height: 20px;
        display: block;
        padding: 5px 15px;
        white-space: nowrap;
        &:hover {
          background-color: rgba(#000, 0.2);
          color: #000;
        }
      }
      &.line {
        height: 1px;
        background-color: #e1e1e1;
      }
    }
  }
}
.collapse {
  position: relative;
  .collapse-heading {
    @extend .clear;
    position: relative;
    line-height: 20px;
    cursor: pointer;
    font-size: 12px;
    padding: 10px 0;
    .indicator {
      margin-left: 10px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: bold;
      &:before {
        content: "\f107";
        line-height: 20px;
      }
    }
  }
  .collapse-body {
    display: none;
    position: relative;
    @extend .clear;
    padding: 10px 0;
  }
  &.on {
    .collapse-heading {
      .indicator {
        &:before {
          content: "\f106";
        }
      }
    }
  }
}

.pagination {
  list-style: none;
  li {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    color: #c2c2c2;
    font-weight: bold;
    font-family: $font-h;
    background: #ebebeb;
    border-radius: 4px;
    a,
    span {
      display: block;
      line-height: 20px;
      padding: 8px 10px;
    }
    a {
    }
    &.current {
      background-color: $primary-color;
      color: white;
      a {
        &:hover {
          color: white;
        }
      }
    }
  }
}

.checklb {
  cursor: pointer;
  display: inline-block;
  input {
    display: none;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
  .ip-avata {
    width: 20px;
    height: 20px;
    border: solid 1px #ebebeb;
    margin-right: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
    &:before {
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f00c";
      display: block;
      margin-left: 3px;
      @include transition(0.3s);
      width: 10px;
      height: 10px;
      text-align: center;
      margin-top: 2px;

      color: $primary-color;
      transform: scale(0) translate(0, -40px);
      -webkit-transform: scale(0) translate(0, -40px);
      -moz-transform: scale(0) translate(0, -40px);
      -ms-transform: scale(0) translate(0, -40px);
      -o-transform: scale(0) translate(0, -40px);
    }
  }
  input:checked + .ip-avata {
    &:before {
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
    }
  }
}
.radiolb {
  @extend .checklb;
  .ip-avata {
    border-radius: 50%;
    &:before {
      border-radius: 50%;
      content: "";
      width: 10px;
      margin-top: 4px;
      margin-left: auto;
      margin-right: auto;
      background: $primary-color;
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
    }
  }
  & + .radiolb {
    margin-left: 10px;
  }
}
.scroll-top-link {
  position: fixed;
  right: 15px;
  bottom: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 20px;
  font-size: 24px;
  font-weight: bold;
  padding: 6px;
  text-align: center;
  background-color: #cfd4dd;
  border: rgba($primary-color, 0.5) 5px solid;
  z-index: 99;
  &:hover {
    border-color: rgba($primary-color, 1);
  }
}
.nav-ul {
  list-style: none;
  float: left;
  > li {
    margin-right: 10px;
    float: left;
    &:last-child {
      margin-right: 0;
    }
    > a {
      display: block;
      line-height: 20px;
      padding: 10px 15px;
    }
  }
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 10px 40px;
  .all {
    width: 100%;
  }
  .main {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .left-header {
    float: left;
    animation: goFromLeft 1s;
    -webkit-animation: goFromLeft 1s;
  }
  .logo {
    position: absolute;
    left: 50%;
    bottom: 10px;
    opacity: 1;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    z-index: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
  }
  &.hidelogo {
    .logo {
      bottom: -100px;
      opacity: 0;
    }
  }
  .nav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: block;
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    background-color: transparent;
    overflow: hidden;
    .nav-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: 100%;
      background-color: #000;
      opacity: 0.3;
      @include transition(0.5s);
    }
    .nav-ul {
      display: flex;
      flex-direction: column;
      justify-content: center;

      float: right;
      width: 320px;
      position: relative;
      z-index: 1;
      height: 100%;
      padding: 70px 0;

      @include transition(0.5s);
      transform-origin: 100% 50%;
      -webkit-transform-origin: 100% 50%;

      transform: translate(100%, 0);
      -webkit-transform: translate(100%, 0);

      background-color: $primary-light;
      color: $primary-color;
      > li {
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        > a {
          padding-right: 90px;
          font-size: 18px;
          font-weight: 300;
          line-height: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
        }
        &:hover {
          > a {
            color: $second-color;
          }
        }
      }
    }
    .sub-menu-wrap {
      position: static;
      transform: none;
      -webkit-transform: none;
      background: transparent;
      padding-left: 15px;
      .sub-menu {
        border-left: solid 1px #fff;
      }
    }
  }
  .navbar-toggle {
    z-index: 10;
    transform-origin: right top;
  }
  .open {
    transform: scale(0.7);
    // position: fixed;
    // right: 30px;
    // top: 0;
    & + .nav-wrap {
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      .nav-overlay {
        width: 100%;
      }

      .nav-ul {
        width: 320px;
        transform: translate(0);
        -webkit-transform: translate(0);
      }
    }
  }
  .closing {
    & + .nav-wrap {
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
    }
  }
  // .animated + .nav-wrap {
  //   transform: translate(-100%, 0);
  //   -webkit-transform: translate(-100%, 0);
  // }
}
.sns-ul {
  display: flex;
  > li {
    display: inline-block;
    color: #fff;
    margin: 0px 8px;
    a {
      display: block;
      color: inherit;
      transition: all 1s;
      -webkit-transition: all 1s;
    }
    &:hover {
      color: $second-color;
    }
  }
  svg {
    height: 50px;
    display: block;
  }
}
.logo {
  float: left;
  > a {
    display: block;
  }
  img {
    display: block;
    height: 60px;
  }
}
.swiper-container-vertical {
  .swiper-pagination {
  }
  > .swiper-pagination-bullets {
    right: auto;
    left: 0px;
    width: 50px;

    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      margin: 20px 0;
      margin-left: auto;
      margin-right: 0;
      border: solid 1px #fff;
      opacity: 1;
      padding: 2px;
      outline: 0;
      position: relative;
      background-color: transparent;

      animation: goFromLeft 1s;
      -webkit-animation: goFromLeft 1s;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 100%;
      }
      &::after {
        content: "";
        position: absolute;
        right: 100%;
        top: 6px;

        width: calc(0px - 14px);
        height: 1px;
        background-color: #fff;

        transition: all 0.3s;
        -webkit-transition: all 0.3s;

        pointer-events: none;
      }
      &:hover {
        border-color: $primary-color;
        background-color: transparent;
        &::before {
          background-color: $primary-color;
        }
        &::after {
          width: calc(50px - 14px);
          background-color: $primary-color;
        }
      }
    }
    .swiper-pagination-bullet-active {
      background-color: transparent;
      opacity: 1;
      &::after {
        width: calc(50px - 14px);
      }
      &:hover {
        border-color: #fff;
        &::after,
        &::before {
          background-color: #fff;
        }
      }
    }
  }
}

.hd-right {
  float: right;
}
.nav-wrap {
  text-align: center;
  .nav-ul {
    padding-top: 10px;
    padding-bottom: 10px;
    float: none;
    text-align: right;
    vertical-align: top;
    > li {
      display: inline-block;
      vertical-align: middle;
      > a {
        display: block;
        line-height: 20px;
        padding: 10px 15px;
        text-transform: uppercase;
        padding-right: 30px;
      }
    }
    .active,
    .current,
    .current-menu-item {
      > a {
        color: $second-color;
      }
    }
  }
}
.article-cont {
  line-height: 1.6;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
    margin-bottom: 0.5em;
    margin-top: 1.4em;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
  p {
    margin: 1em 0;
  }
  ul,
  ol {
    margin: 1.4em 0;
    list-style-position: inside;
    ul,
    ol {
      margin-left: 15px;
    }
  }
}
.swiper-pagination {
}
#main-wrap {
  &.swiper-container {
    height: 100vh;
    background: -webkit-linear-gradient(
      135deg,
      $primary-color 0,
      $second-color 50%,
      $primary-light 120%
    );
    background: linear-gradient(
      135deg,
      $primary-color 0,
      $second-color 50%,
      $primary-light 120%
    );
  }
}
#footer {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 40px;

  .all {
    width: 100%;
  }
  .main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: #fff;
  }
  .subscribe {
    position: absolute;
    left: 50%;
    bottom: -100px;

    opacity: 0;

    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
  &.comup .subscribe {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    bottom: 0px;
    opacity: 1;
  }
}
.sec {
  float: left;
  width: 100%;
}
.sec-banner {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: $second-color;
  > .bg {
    z-index: -1;
    background: url(../images/bg-banner.jpg) no-repeat center center/cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #moving-panr {
    left: -5vw;
    top: -5vh;
    width: 110vw;
    height: 110vh;
  }
  #moving-panr-logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .bg-with-cover {
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: -webkit-radial-gradient(
        circle farthest-corner at center center,
        rgba(211, 202, 148, 0.3) 40%,
        rgba(43, 58, 30, 1) 100%
      );
      background: radial-gradient(
        circle farthest-corner at center center,
        rgba(211, 202, 148, 0.3) 40%,
        rgba(43, 58, 30, 1) 100%
      );
      opacity: 0;
      mix-blend-mode: multiply;
      pointer-events: none;
    }
  }
  .bg-with-cover-right {
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;

      opacity: 0;
      background: -webkit-linear-gradient(
        270deg,
        rgba(148, 109, 73, 1) 0,
        rgba(148, 109, 73, 0) 80%
      );
      background: linear-gradient(
        270deg,
        rgba(148, 109, 73, 1) 0,
        rgba(148, 109, 73, 0) 80%
      );
      mix-blend-mode: multiply;
    }
  }
  .vector-logo {
    display: block;
    width: 110vw;
    height: 110vh;
    position: absolute;
    left: 0vw;
    top: 5vh;

    path {
      stroke: #fff;
      stroke-width: 1;
      fill: transparent;
      stroke-dasharray: 1200;
      stroke-dashoffset: 1200;
      // animation: dashoffsetMove 2.5s forwards;
      // -webkit-animation: dashoffsetMove 2.5s forwards;
      transition: fill 0.5s;
      -webkit-transition: fill 0.5s;
      &:hover {
        fill: #fff;
      }
    }
    &.bglogo {
      background: url(../images/logo2.svg) center center/contain no-repeat;
      opacity: 0;
      // animation: fadeOpacity 1.5s forwards;
      // -webkit-animation: fadeOpacity 1.5s forwards;
    }
    &.logoshadow {
      background-image: url(../images/logo1.svg);
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      animation-delay: 0.8s;
      -webkit-animation-delay: 0.8s;
    }
    &.fill {
      mix-blend-mode: overlay;
      // filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 1));
      // -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 1));
    }
  }
}
.comeout {
  .sec-herosize {
    .right-cbx {
      .right-cbx-frame {
        opacity: 1;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);

        transition: all 1s;
        -webkit-transition: all 1s;
      }
    }
  }

  .bg-with-cover,
  .bg-with-cover-right {
    &::before {
      opacity: 1;
      transition: opacity 1s;
      -webkit-transition: opacity 1s;
    }
  }
  .vector-logo {
    animation: fadeOpacity 1.5s forwards;
    -webkit-animation: fadeOpacity 1.5s forwards;
    &.logoshadow {
    }
    path {
      animation: dashoffsetMove 2.5s forwards;
      -webkit-animation: dashoffsetMove 2.5s forwards;
    }
  }

  .char {
    opacity: 0;
  }
  .fade {
    animation: charFade 0.3s forwards;
    -webkit-animation: charFade 0.3s forwards;
  }
  .sec-logos {
    .box-text {
      animation: charFade 1s forwards;
      -webkit-animation: charFade 1s forwards;
      animation-delay: 0.6s;
      -webkit-animation-delay: 0.6s;
    }
    .animation-banner-text .char {
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
    }
  }
  .logo-intro-list {
    .logo-intro-item {
      &:nth-child(1) {
        animation: goFromLeft 1s forwards;
        -webkit-animation: goFromLeft 1s forwards;
      }
      &:nth-child(2) {
        animation: goFromRight 1s forwards;
        -webkit-animation: goFromRight 1s forwards;
      }
      &:nth-child(3) {
        animation: charFade 1s forwards;
        -webkit-animation: charFade 1s forwards;
        animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
      }
    }
  }
}
.sec-herosize {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  .inner-content {
    width: 100%;
  }
  .right-cbx {
    float: right;
    position: relative;
    padding: 30px 0;
    padding-right: 60px;
    min-height: 300px;
    display: flex;
    align-items: center;
    color: #fff;
    .right-cbx-frame {
      position: absolute;
      height: 100%;
      opacity: 0;

      top: 50%;
      right: 0px;

      transform: translate(150%, -50%);
      -webkit-transform: translate(150%, -50%);
      .bg-fill {
        -webkit-filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
        filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
      }
      .stop1 {
        -webkit-animation: FillCorlor1 2s infinite alternate;
        animation: FillCorlor1 2s infinite alternate;
      }
      .stop2 {
        -webkit-animation: FillCorlor2 2s infinite alternate;
        animation: FillCorlor2 2s infinite alternate;
      }
    }
  }
}

.animation-banner-text {
  font-size: calc(100vw / 30);
  text-transform: uppercase;
  line-height: 1.25;
  > span {
    display: block;
    text-align: right;

    &:first-child {
      font-weight: 300;
    }
  }
  .char {
    opacity: 0;
  }
}
.feature-videofullscreen {
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;

  z-index: 10;

  .video-holder {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .circle-play {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    @extend %bgGradient;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background: url(../images/play-circle.svg) no-repeat center center/contain;
      z-index: 1;
      display: block;
    }
  }
}
.video-controls {
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }
  > a {
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  [data-state="play"] {
    background-image: url(../images/play.svg);
  }
  [data-state="pause"] {
    background-image: url(../images/pause.svg);
  }
  [data-state="unmute"] {
    background-image: url(../images/unmute.svg);
  }
  [data-state="mute"] {
    background-image: url(../images/mute.svg);
  }
  [data-state="go-fullscreen"] {
    background-image: url(../images/fullscreen.svg);
  }
}
.facility-ul {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  li {
    display: block;
    padding: 10px;
    > a {
      width: 210px;
      height: 210px;
      border-radius: 50%;

      position: relative;
      z-index: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      color: #fff;
      border: solid 5px rgba(#819177, 0.5);
      text-transform: uppercase;

      transition: all 1s;
      -webkit-transition: all 1s;
      > svg {
        display: block;
        width: 70%;
        position: relative;
        z-index: 1;
        margin-bottom: -10px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        path {
          stroke: #fff;
          stroke-width: 1;
        }
      }
      &::before {
        @extend %bgGradient;
        opacity: 0.7;
        z-index: -1;
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 1s;
        -webkit-transition: all 1s;
      }
      &:hover {
        border-color: rgba(#819177, 1);
        > svg {
          margin-bottom: 0px;
          path {
            fill: transparent;
            stroke-width: 2;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: dashoffsetMove1000 5s forwards;
            -webkit-animation: dashoffsetMove1000 5s forwards;
          }
        }
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
.sec-homenews {
  > .bg {
    background-image: none;
  }
  &.sec-banner > .bg {
    background: -webkit-linear-gradient(
      135deg,
      $primary-color 0,
      $second-color 50%,
      $primary-light 120%
    );
    background: linear-gradient(
      135deg,
      $primary-color 0,
      $second-color 50%,
      $primary-light 120%
    );
  }
  .all {
    width: 1000px;
  }
}
.grid3block-layout {
  display: grid;
  grid-template-columns: 40% repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "a b b"
    "a c c";

  .blockitem {
    min-height: calc(100vh / 3);
    position: relative;
    &:nth-child(3n + 1) {
      grid-area: a;
    }
    &:nth-child(3n + 2) {
      grid-area: b;
    }
    &:nth-child(3n + 3) {
      grid-area: c;
    }
  }
  .feature-block {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

    > a {
      position: absolute;
      z-index: 3;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .img {
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 1s;
      -webkit-transition: all 1s;
      position: relative;
    }
    .title {
      font-size: 24px;
      text-align: center;
      padding: 25px 15px;
      line-height: 40px;
      overflow: hidden;
      text-transform: uppercase;
    }
    &:hover {
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      z-index: 2;
      .img {
        background-position: 100% 100%;
      }
    }
  }
  .blocknews {
    background-color: #eae1da;
    .img {
      height: calc(100% - 90px);
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 30px 35px 30px;
        border-color: transparent transparent #eae1da transparent;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
      }
    }
  }
  .blockalbum {
    background-color: #936c47;
    .img {
      width: calc(100% - 90px);
      height: 100%;
      margin-right: 0;
      margin-left: auto;
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 0 30px 35px;
        border-color: transparent transparent transparent #936c47;

        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
      }
    }
    .title {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-20%, -50%) rotate(90deg);
      -webkit-transform: translate(-20%, -50%) rotate(90deg);
    }
  }
  .blockvideo {
    background-color: #819177;
    .img {
      width: calc(100% - 90px);
      height: 100%;
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 35px 30px 0;
        border-color: transparent #819177 transparent transparent;

        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
      }
    }
    .title {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0%, -50%) rotate(90deg);
      -webkit-transform: translate(0%, -50%) rotate(90deg);
      height: 100%;
      align-items: center;
      display: flex;
      margin-right: -10px;
    }
  }
}
.sec-logos {
  text-align: center;
  color: #fff;
  &.sec-banner > .bg {
    background-image: url(../images/pattern.png);
    background-size: auto;
    background-repeat: repeat;
  }
  .animation-banner-text {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    > span {
      text-align: center;
    }
  }
  .box-text {
    opacity: 0;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }
  .logo-intro-list {
    .logo-intro-item {
      opacity: 0;
    }
  }
}
.logo-intro-list {
  display: inline-block;
  text-align: center;
  .logo-intro-item {
    display: inline-block;
    margin: 10px 0;
    vertical-align: top;
    max-width: 50%;
    font-size: 18px;
    &:last-child {
      width: 100%;
      max-width: none;
    }
    img {
      display: block;
    }
  }
}
.hotline {
  animation: goFromRightBottom 1s;
  -webkit-animation: goFromRightBottom 1s;
  a {
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
  .call {
    width: 40px;
    height: 35px;
    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .text {
    font-size: 24px;
  }
}
.subscribe {
  position: relative;
  width: 154px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .subscribe-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    color: #fff;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  .text {
    width: auto;
    position: relative;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }
  &:hover {
    background-color: $primary-color;
    .subscribe-icon {
      -webkit-transform: scaleX(1.1);
      transform: scaleX(1.1);
    }
  }
}
.copyright {
  font-size: 11px;
}
.wheel-down {
  width: 30px;
  height: 30px;

  position: fixed;
  left: 40px;
  bottom: 50px;
  opacity: 1;
  z-index: 5;

  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  span {
    position: absolute;
    width: 100%;
    height: 1px;
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);

    -webkit-animation: wheelArrow 2s ease-out infinite;
    animation: wheelArrow 2s ease-out infinite;
    &:nth-child(1) {
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
    }
    &:nth-child(2) {
      animation-delay: 0.5s;
      -webkit-animation-delay: 0.5s;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 50%;

      background-color: #fff;
      -webkit-transform: skewY(30deg);
      transform: skewY(30deg);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 50%;
      height: 100%;

      background-color: #fff;
      -webkit-transform: skewY(-30deg);
      transform: skewY(-30deg);
    }
  }
}

// animations keys
@keyframes dashoffsetMove {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dashoffsetMove {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dashoffsetMove {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dashoffsetMove1000 {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dashoffsetMove1000 {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dashoffsetMove1000 {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
//
@keyframes fadeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FillCorlor1 {
  0% {
    stop-color: #fff;
  }

  100% {
    stop-color: #946d49;
  }
}

@keyframes FillCorlor1 {
  0% {
    stop-color: #fff;
  }

  100% {
    stop-color: #946d49;
  }
}

@-webkit-keyframes FillCorlor2 {
  0% {
    stop-color: #946d49;
  }

  100% {
    stop-color: #fff;
  }
}

@keyframes FillCorlor2 {
  0% {
    stop-color: #946d49;
  }

  100% {
    stop-color: #fff;
  }
}

@-webkit-keyframes wheelArrow {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  66.6% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(30px) scale(0.5);
    transform: translateY(30px) scale(0.5);
  }
}

@keyframes wheelArrow {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  66.6% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(30px) scale(0.5);
    transform: translateY(30px) scale(0.5);
  }
}
//goFromLeft
@keyframes goFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes goFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
//goFromRight
@keyframes goFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes goFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

//goFromRightBottom
@keyframes goFromRightBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes goFromRightBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
//charFade
@keyframes charFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes charFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
