
// animations keys
@keyframes dashoffsetMove {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dashoffsetMove {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dashoffsetMove {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dashoffsetMove1000 {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dashoffsetMove1000 {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dashoffsetMove1000 {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
//
@keyframes fadeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FillCorlor1 {
  0% {
    stop-color: #fff;
  }

  100% {
    stop-color: #946d49;
  }
}

@keyframes FillCorlor1 {
  0% {
    stop-color: #fff;
  }

  100% {
    stop-color: #946d49;
  }
}

@-webkit-keyframes FillCorlor2 {
  0% {
    stop-color: #946d49;
  }

  100% {
    stop-color: #fff;
  }
}

@keyframes FillCorlor2 {
  0% {
    stop-color: #946d49;
  }

  100% {
    stop-color: #fff;
  }
}

@-webkit-keyframes wheelArrow {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  66.6% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(30px) scale(0.5);
    transform: translateY(30px) scale(0.5);
  }
}

@keyframes wheelArrow {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  66.6% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(30px) scale(0.5);
    transform: translateY(30px) scale(0.5);
  }
}
//goFromLeft
@keyframes goFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes goFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
//goFromRight
@keyframes goFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes goFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

//goFromRightBottom
@keyframes goFromRightBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes goFromRightBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
//charFade
@keyframes charFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes charFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}