.sec-banner {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: $second-color;
  > .bg {
    z-index: -1;
    background: url(../images/bg-banner.jpg) no-repeat center center/cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #moving-panr {
    left: -5vw;
    top: -5vh;
    width: 110vw;
    height: 110vh;
  }
  #moving-panr-logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .bg-with-cover {
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: -webkit-radial-gradient(
        circle farthest-corner at center center,
        rgba(211, 202, 148, 0.3) 40%,
        rgba(43, 58, 30, 1) 100%
      );
      background: radial-gradient(
        circle farthest-corner at center center,
        rgba(211, 202, 148, 0.3) 40%,
        rgba(43, 58, 30, 1) 100%
      );
      opacity: 0;
      mix-blend-mode: multiply;
      pointer-events: none;
    }
  }
  .bg-with-cover-right {
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;

      opacity: 0;
      background: -webkit-linear-gradient(
        270deg,
        rgba(148, 109, 73, 1) 0,
        rgba(148, 109, 73, 0) 80%
      );
      background: linear-gradient(
        270deg,
        rgba(148, 109, 73, 1) 0,
        rgba(148, 109, 73, 0) 80%
      );
      mix-blend-mode: multiply;
    }
  }
  .vector-logo {
    display: block;
    width: 110vw;
    height: 110vh;
    position: absolute;
    left: 0vw;
    top: 5vh;

    path {
      stroke: #fff;
      stroke-width: 1;
      fill: transparent;
      stroke-dasharray: 1200;
      stroke-dashoffset: 1200;
      // animation: dashoffsetMove 2.5s forwards;
      // -webkit-animation: dashoffsetMove 2.5s forwards;
      transition: fill 0.5s;
      -webkit-transition: fill 0.5s;
      &:hover {
        fill: #fff;
      }
    }
    &.bglogo {
      background: url(../images/logo2.svg) center center/contain no-repeat;
      opacity: 0;
      // animation: fadeOpacity 1.5s forwards;
      // -webkit-animation: fadeOpacity 1.5s forwards;
    }
    &.logoshadow {
      background-image: url(../images/logo1.svg);
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      animation-delay: 0.8s;
      -webkit-animation-delay: 0.8s;
    }
    &.fill {
      mix-blend-mode: overlay;
      // filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 1));
      // -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 1));
    }
  }
}
.animation-banner-text {
  font-size: calc(100vw / 30);
  text-transform: uppercase;
  line-height: 1.25;
  > span {
    display: block;
    text-align: right;

    &:first-child {
      font-weight: 300;
    }
  }
  .char {
    opacity: 0;
  }
}