@import url("../fonts/font-awesome-4.7/css/font-awesome.min.css");
@import url("../js/swiperjs/swiper-bundle.min.css");
@import url("../css/reset.css");
.clear:after, .all:after, .collapse .collapse-heading:after, .collapse .collapse-body:after {
  content: '';
  display: table;
  clear: both;
}

.clear:before, .all:before, .collapse .collapse-heading:before, .collapse .collapse-body:before {
  display: table;
  content: ' ';
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: auto;
  left: 0px;
  width: 50px;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin: 20px 0;
  margin-left: auto;
  margin-right: 0;
  border: solid 1px #fff;
  opacity: 1;
  padding: 2px;
  outline: 0;
  position: relative;
  background-color: transparent;
  animation: goFromLeft 1s;
  -webkit-animation: goFromLeft 1s;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 100%;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  right: 100%;
  top: 6px;
  width: calc(0px - 14px);
  height: 1px;
  background-color: #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  pointer-events: none;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet:hover {
  border-color: #946d49;
  background-color: transparent;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet:hover::before {
  background-color: #946d49;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet:hover::after {
  width: calc(50px - 14px);
  background-color: #946d49;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: transparent;
  opacity: 1;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet-active::after {
  width: calc(50px - 14px);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet-active:hover {
  border-color: #fff;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet-active:hover::after, .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet-active:hover::before {
  background-color: #fff;
}

.comeout .sec-herosize .right-cbx .right-cbx-frame {
  opacity: 1;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transition: all 1s;
  -webkit-transition: all 1s;
}

.comeout .bg-with-cover::before,
.comeout .bg-with-cover-right::before {
  opacity: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.comeout .vector-logo {
  animation: fadeOpacity 1.5s forwards;
  -webkit-animation: fadeOpacity 1.5s forwards;
}

.comeout .vector-logo path {
  animation: dashoffsetMove 2.5s forwards;
  -webkit-animation: dashoffsetMove 2.5s forwards;
}

.comeout .char {
  opacity: 0;
}

.comeout .fade {
  animation: charFade 0.3s forwards;
  -webkit-animation: charFade 0.3s forwards;
}

.comeout .sec-logos .box-text {
  animation: charFade 1s forwards;
  -webkit-animation: charFade 1s forwards;
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

.comeout .sec-logos .animation-banner-text .char {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.comeout .logo-intro-list .logo-intro-item:nth-child(1) {
  animation: goFromLeft 1s forwards;
  -webkit-animation: goFromLeft 1s forwards;
}

.comeout .logo-intro-list .logo-intro-item:nth-child(2) {
  animation: goFromRight 1s forwards;
  -webkit-animation: goFromRight 1s forwards;
}

.comeout .logo-intro-list .logo-intro-item:nth-child(3) {
  animation: charFade 1s forwards;
  -webkit-animation: charFade 1s forwards;
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

@keyframes dashoffsetMove {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dashoffsetMove {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dashoffsetMove1000 {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dashoffsetMove1000 {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FillCorlor1 {
  0% {
    stop-color: #fff;
  }
  100% {
    stop-color: #946d49;
  }
}

@keyframes FillCorlor1 {
  0% {
    stop-color: #fff;
  }
  100% {
    stop-color: #946d49;
  }
}

@-webkit-keyframes FillCorlor2 {
  0% {
    stop-color: #946d49;
  }
  100% {
    stop-color: #fff;
  }
}

@keyframes FillCorlor2 {
  0% {
    stop-color: #946d49;
  }
  100% {
    stop-color: #fff;
  }
}

@-webkit-keyframes wheelArrow {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px) scale(0.5);
    transform: translateY(30px) scale(0.5);
  }
}

@keyframes wheelArrow {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px) scale(0.5);
    transform: translateY(30px) scale(0.5);
  }
}

@keyframes goFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes goFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes goFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes goFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes goFromRightBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes goFromRightBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes charFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes charFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main-wrap.swiper-container {
  height: 100vh;
  background: linear-gradient(135deg, #946d49 0, #9bb18e 50%, #e6dbd3 120%);
}

::-moz-selection {
  background: #d2baa4;
}

::selection {
  background: #d2baa4;
}

.facility-ul li > a::before, .feature-videofullscreen .circle-play {
  background: linear-gradient(130deg, #819177 0, #946d49 80%);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #946d49;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (max-width: 700px) {
  body {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  body.menuin {
    margin-left: 270px;
    margin-right: -270px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }
  body.menuin.ios {
    position: fixed;
    left: 0;
    right: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
}

img {
  max-width: 100%;
  height: auto;
}

strong,
.bold {
  font-weight: bold;
}

.all {
  position: relative;
  margin: 0 auto;
  width: 1170px;
  max-width: 100%;
}

@media screen and (max-width: 1190px) {
  .all {
    width: 100%;
    padding: 0 10px;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.center-txt {
  text-align: center;
}

.left-txt {
  text-align: left;
}

.right-txt {
  text-align: right;
}

.hl-txt {
  color: #946d49;
}

.fcontrol {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  width: 100%;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border: solid 1px #e1e1e1;
  padding: 10px 15px;
  line-height: 20px;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fcontrol:focus {
  border-color: #946d49;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(148, 109, 73, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(148, 109, 73, 0.6);
}

.fcontrol.pill-control {
  border-radius: 20px;
  -webkit-border-radius: 20px;
}

select.fcontrol {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background: url(../images/icon-select.png) no-repeat right 15px center;
  padding: 0;
  padding-right: 25px;
  padding-left: 15px;
  line-height: 40px;
}

textarea.fcontrol {
  height: 100px;
  resize: none;
  padding: 10px 15px;
}

.btn {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  border: none;
  color: #946d49;
  height: 40px;
  line-height: 20px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
  text-align: center;
}

.btn.pill-btn {
  border-radius: 20px;
  -webkit-border-radius: 20px;
}

.btn.primary-btn {
  background-color: #946d49;
  color: white;
}

.btn.primary-btn:hover {
  color: white;
  background-color: #725438;
}

.btn:active {
  -webkit-box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.scroll-top-link {
  position: fixed;
  right: 15px;
  bottom: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 20px;
  font-size: 24px;
  font-weight: bold;
  padding: 6px;
  text-align: center;
  background-color: #cfd4dd;
  border: rgba(148, 109, 73, 0.5) 5px solid;
  z-index: 99;
}

.scroll-top-link:hover {
  border-color: #946d49;
}

.navbar-toggle {
  float: right;
  width: 70px;
  height: 70px;
  padding: 11px 8px;
  margin-top: 4px;
  background-color: transparent;
  background-image: none;
  border-radius: 0px;
  border: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
  position: relative;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  animation: goFromRight 1s;
  -webkit-animation: goFromRight 1s;
}

.navbar-toggle:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: solid 1px rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.navbar-toggle .icon-bar {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: block;
  width: 30px;
  height: 1px;
  border-radius: 1px;
  margin: 0 auto;
  background-color: #fff;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}

.navbar-toggle .icon-bar:nth-child(1) {
  -webkit-transform: translate(-1px, 6px);
  transform: translate(-1px, 6px);
}

.navbar-toggle .icon-bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle .icon-bar:nth-child(3) {
  -webkit-transform: translate(-1px, -6px);
  transform: translate(-1px, -6px);
}

.navbar-toggle .icon-text {
  display: block;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.navbar-toggle:hover:after {
  border-radius: 50%;
  background-color: #946d49;
}

.navbar-toggle.open:after {
  border-color: #946d49;
  background-color: transparent;
}

.navbar-toggle.open .icon-text {
  opacity: 0;
}

.navbar-toggle.open .icon-bar {
  background-color: #946d49;
}

.navbar-toggle.open .icon-bar:nth-child(1) {
  -webkit-transform: translate(-1px, 13px) rotate(-225deg) scale(1, 4);
  transform: translate(-1px, 13px) rotate(-225deg) scale(1, 4);
}

.navbar-toggle.open .icon-bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.open .icon-bar:nth-child(3) {
  -webkit-transform: translate(-1px, 1px) rotate(225deg) scale(1, 4);
  transform: translate(-1px, 1px) rotate(225deg) scale(1, 4);
}

.dropdown {
  position: relative;
}

.dropdown:hover .sub-menu-wrap {
  display: block;
  -webkit-transform: perspective(1200px) rotateX(0deg);
  transform: perspective(1200px) rotateX(0deg);
  background-color: rgba(255, 255, 255, 0.99);
}

.dropdown:hover .dropdown-toggle + .sub-menu-wrap {
  -webkit-transform: perspective(1200px) rotateX(-90deg);
  transform: perspective(1200px) rotateX(-90deg);
}

.dropdown.open .dropdown-toggle + .sub-menu-wrap {
  display: block;
  -webkit-transform: perspective(1200px) rotateX(0deg);
  transform: perspective(1200px) rotateX(0deg);
  background-color: rgba(255, 255, 255, 0.99);
}

.sub-menu-wrap {
  position: absolute;
  z-index: 1;
  width: auto;
  top: 100%;
  right: 0;
  display: block;
  background-color: #e6e6e6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition-timing-function: cubic-bezier(0.7, 0, 0.185, 1);
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.185, 1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: perspective(1200px) rotateX(-90deg);
  transform: perspective(1200px) rotateX(-90deg);
}

.sub-menu-wrap .sub-menu {
  color: #000;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.sub-menu-wrap .sub-menu li {
  display: block;
  float: none;
}

.sub-menu-wrap .sub-menu li > a {
  line-height: 20px;
  display: block;
  padding: 5px 15px;
  white-space: nowrap;
}

.sub-menu-wrap .sub-menu li > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #000;
}

.sub-menu-wrap .sub-menu li.line {
  height: 1px;
  background-color: #e1e1e1;
}

.collapse {
  position: relative;
}

.collapse .collapse-heading {
  position: relative;
  line-height: 20px;
  cursor: pointer;
  font-size: 12px;
  padding: 10px 0;
}

.collapse .collapse-heading .indicator {
  margin-left: 10px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}

.collapse .collapse-heading .indicator:before {
  content: "\f107";
  line-height: 20px;
}

.collapse .collapse-body {
  display: none;
  position: relative;
  padding: 10px 0;
}

.collapse.on .collapse-heading .indicator:before {
  content: "\f106";
}

.pagination {
  list-style: none;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  color: #c2c2c2;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  background: #ebebeb;
  border-radius: 4px;
}

.pagination li a,
.pagination li span {
  display: block;
  line-height: 20px;
  padding: 8px 10px;
}

.pagination li.current {
  background-color: #946d49;
  color: white;
}

.pagination li.current a:hover {
  color: white;
}

.checklb, .radiolb {
  cursor: pointer;
  display: inline-block;
}

.checklb input, .radiolb input {
  display: none;
}

.checklb span, .radiolb span {
  display: inline-block;
  vertical-align: middle;
}

.checklb .ip-avata, .radiolb .ip-avata {
  width: 20px;
  height: 20px;
  border: solid 1px #ebebeb;
  margin-right: 10px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.checklb .ip-avata:before, .radiolb .ip-avata:before {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  display: block;
  margin-left: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 10px;
  height: 10px;
  text-align: center;
  margin-top: 2px;
  color: #946d49;
  transform: scale(0) translate(0, -40px);
  -webkit-transform: scale(0) translate(0, -40px);
  -moz-transform: scale(0) translate(0, -40px);
  -ms-transform: scale(0) translate(0, -40px);
  -o-transform: scale(0) translate(0, -40px);
}

.checklb input:checked + .ip-avata:before, .radiolb input:checked + .ip-avata:before {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

.radiolb .ip-avata {
  border-radius: 50%;
}

.radiolb .ip-avata:before {
  border-radius: 50%;
  content: "";
  width: 10px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  background: #946d49;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.radiolb + .radiolb {
  margin-left: 10px;
}

.article-cont {
  line-height: 1.6;
}

.article-cont h1,
.article-cont h2,
.article-cont h3,
.article-cont h4,
.article-cont h5,
.article-cont h6 {
  line-height: 1.4;
  margin-bottom: 0.5em;
  margin-top: 1.4em;
}

.article-cont h1 {
  font-size: 36px;
}

.article-cont h2 {
  font-size: 30px;
}

.article-cont h3 {
  font-size: 24px;
}

.article-cont h4 {
  font-size: 18px;
}

.article-cont h5 {
  font-size: 14px;
}

.article-cont h6 {
  font-size: 12px;
}

.article-cont p {
  margin: 1em 0;
}

.article-cont ul,
.article-cont ol {
  margin: 1.4em 0;
  list-style-position: inside;
}

.article-cont ul ul,
.article-cont ul ol,
.article-cont ol ul,
.article-cont ol ol {
  margin-left: 15px;
}

.nav-ul {
  list-style: none;
  float: left;
}

.nav-ul > li {
  margin-right: 10px;
  float: left;
}

.nav-ul > li:last-child {
  margin-right: 0;
}

.nav-ul > li > a {
  display: block;
  line-height: 20px;
  padding: 10px 15px;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 10px 40px;
}

#header .all {
  width: 100%;
}

#header .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#header .left-header {
  float: left;
  animation: goFromLeft 1s;
  -webkit-animation: goFromLeft 1s;
}

#header .logo {
  position: absolute;
  left: 50%;
  bottom: 10px;
  opacity: 1;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  z-index: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}

#header.hidelogo .logo {
  bottom: -100px;
  opacity: 0;
}

#header .nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: block;
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  background-color: transparent;
  overflow: hidden;
}

#header .nav-wrap .nav-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#header .nav-wrap .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
  width: 320px;
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 70px 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  background-color: #e6dbd3;
  color: #946d49;
}

#header .nav-wrap .nav-ul > li {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
}

#header .nav-wrap .nav-ul > li > a {
  padding-right: 90px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

#header .nav-wrap .nav-ul > li:hover > a {
  color: #9bb18e;
}

#header .nav-wrap .sub-menu-wrap {
  position: static;
  transform: none;
  -webkit-transform: none;
  background: transparent;
  padding-left: 15px;
}

#header .nav-wrap .sub-menu-wrap .sub-menu {
  border-left: solid 1px #fff;
}

#header .navbar-toggle {
  z-index: 10;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

#header .open {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#header .open + .nav-wrap {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

#header .open + .nav-wrap .nav-overlay {
  width: 100%;
}

#header .open + .nav-wrap .nav-ul {
  width: 320px;
  transform: translate(0);
  -webkit-transform: translate(0);
}

#header .closing + .nav-wrap {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.sns-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sns-ul > li {
  display: inline-block;
  color: #fff;
  margin: 0px 8px;
}

.sns-ul > li a {
  display: block;
  color: inherit;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.sns-ul > li:hover {
  color: #9bb18e;
}

.sns-ul svg {
  height: 50px;
  display: block;
}

.logo {
  float: left;
}

.logo > a {
  display: block;
}

.logo img {
  display: block;
  height: 60px;
}

.hd-right {
  float: right;
}

.nav-wrap {
  text-align: center;
}

.nav-wrap .nav-ul {
  padding-top: 10px;
  padding-bottom: 10px;
  float: none;
  text-align: right;
  vertical-align: top;
}

.nav-wrap .nav-ul > li {
  display: inline-block;
  vertical-align: middle;
}

.nav-wrap .nav-ul > li > a {
  display: block;
  line-height: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  padding-right: 30px;
}

.nav-wrap .nav-ul .active > a,
.nav-wrap .nav-ul .current > a,
.nav-wrap .nav-ul .current-menu-item > a {
  color: #9bb18e;
}

#footer {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 40px;
  pointer-events: none;
}

#footer .all {
  width: 100%;
}

#footer .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#footer .subscribe {
  position: absolute;
  left: 50%;
  bottom: -100px;
  opacity: 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

#footer.comup .subscribe {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  bottom: 0px;
  opacity: 1;
}

.hotline {
  animation: goFromRightBottom 1s;
  -webkit-animation: goFromRightBottom 1s;
}

.hotline span {
  display: inline-block;
  vertical-align: middle;
}

.hotline .call {
  width: 40px;
  height: 35px;
}

.hotline .call svg {
  display: block;
  width: 100%;
  height: 100%;
}

.hotline .text {
  font-size: 24px;
}

.subscribe {
  position: relative;
  width: 154px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .subscribe-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.subscribe svg {
  display: block;
  width: 100%;
  height: 100%;
}

.subscribe .text {
  width: auto;
  position: relative;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.subscribe:hover {
  background-color: #946d49;
}

.subscribe:hover .subscribe-icon {
  -webkit-transform: scaleX(1.1);
  transform: scaleX(1.1);
}

.copyright {
  font-size: 11px;
}

.sec {
  float: left;
  width: 100%;
}

.sec-herosize {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-herosize .inner-content {
  width: 100%;
}

.sec-herosize .right-cbx {
  float: right;
  position: relative;
  padding: 30px 0;
  padding-right: 60px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.sec-herosize .right-cbx .right-cbx-frame {
  position: absolute;
  height: 100%;
  opacity: 0;
  top: 50%;
  right: 0px;
  transform: translate(150%, -50%);
  -webkit-transform: translate(150%, -50%);
}

.sec-herosize .right-cbx .right-cbx-frame .bg-fill {
  -webkit-filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
}

.sec-herosize .right-cbx .right-cbx-frame .stop1 {
  -webkit-animation: FillCorlor1 2s infinite alternate;
  animation: FillCorlor1 2s infinite alternate;
}

.sec-herosize .right-cbx .right-cbx-frame .stop2 {
  -webkit-animation: FillCorlor2 2s infinite alternate;
  animation: FillCorlor2 2s infinite alternate;
}

.sec-banner {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #9bb18e;
}

.sec-banner > .bg {
  z-index: -1;
  background: url(../images/bg-banner.jpg) no-repeat center center/cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.sec-banner #moving-panr {
  left: -5vw;
  top: -5vh;
  width: 110vw;
  height: 110vh;
}

.sec-banner #moving-panr-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.sec-banner .bg-with-cover:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: radial-gradient(circle farthest-corner at center center, rgba(211, 202, 148, 0.3) 40%, #2b3a1e 100%);
  opacity: 0;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.sec-banner .bg-with-cover-right:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(0, #946d49), color-stop(80%, rgba(148, 109, 73, 0)));
  background: linear-gradient(270deg, #946d49 0, rgba(148, 109, 73, 0) 80%);
  mix-blend-mode: multiply;
}

.sec-banner .vector-logo {
  display: block;
  width: 110vw;
  height: 110vh;
  position: absolute;
  left: 0vw;
  top: 5vh;
}

.sec-banner .vector-logo path {
  stroke: #fff;
  stroke-width: 1;
  fill: transparent;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  transition: fill 0.5s;
  -webkit-transition: fill 0.5s;
}

.sec-banner .vector-logo path:hover {
  fill: #fff;
}

.sec-banner .vector-logo.bglogo {
  background: url(../images/logo2.svg) center center/contain no-repeat;
  opacity: 0;
}

.sec-banner .vector-logo.logoshadow {
  background-image: url(../images/logo1.svg);
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

.sec-banner .vector-logo.fill {
  mix-blend-mode: overlay;
}

.animation-banner-text {
  font-size: calc(100vw / 30);
  text-transform: uppercase;
  line-height: 1.25;
}

.animation-banner-text > span {
  display: block;
  text-align: right;
}

.animation-banner-text > span:first-child {
  font-weight: 300;
}

.animation-banner-text .char {
  opacity: 0;
}

.facility-ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facility-ul li {
  display: block;
  padding: 10px;
}

.facility-ul li > a {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border: solid 5px rgba(129, 145, 119, 0.5);
  text-transform: uppercase;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.facility-ul li > a > svg {
  display: block;
  width: 70%;
  position: relative;
  z-index: 1;
  margin-bottom: -10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.facility-ul li > a > svg path {
  stroke: #fff;
  stroke-width: 1;
}

.facility-ul li > a::before {
  opacity: 0.7;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.facility-ul li > a:hover {
  border-color: #819177;
}

.facility-ul li > a:hover > svg {
  margin-bottom: 0px;
}

.facility-ul li > a:hover > svg path {
  fill: transparent;
  stroke-width: 2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dashoffsetMove1000 5s forwards;
  -webkit-animation: dashoffsetMove1000 5s forwards;
}

.facility-ul li > a:hover::before {
  opacity: 1;
}

.sec-homenews > .bg {
  background-image: none;
}

.sec-homenews.sec-banner > .bg {
  background: linear-gradient(135deg, #946d49 0, #9bb18e 50%, #e6dbd3 120%);
}

.sec-homenews .all {
  width: 1000px;
}

.grid3block-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% (1fr)[2];
      grid-template-columns: 40% repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
      grid-template-areas: "a b b" "a c c";
}

.grid3block-layout .blockitem {
  min-height: calc(100vh / 3);
  position: relative;
}

.grid3block-layout .blockitem:nth-child(3n + 1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: a;
}

.grid3block-layout .blockitem:nth-child(3n + 2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: b;
}

.grid3block-layout .blockitem:nth-child(3n + 3) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: c;
}

.grid3block-layout .feature-block {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.grid3block-layout .feature-block > a {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.grid3block-layout .feature-block .img {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s;
  -webkit-transition: all 1s;
  position: relative;
}

.grid3block-layout .feature-block .title {
  font-size: 24px;
  text-align: center;
  padding: 25px 15px;
  line-height: 40px;
  overflow: hidden;
  text-transform: uppercase;
}

.grid3block-layout .feature-block:hover {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.grid3block-layout .feature-block:hover .img {
  background-position: 100% 100%;
}

.grid3block-layout .blocknews {
  background-color: #eae1da;
}

.grid3block-layout .blocknews .img {
  height: calc(100% - 90px);
}

.grid3block-layout .blocknews .img::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 35px 30px;
  border-color: transparent transparent #eae1da transparent;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

.grid3block-layout .blockalbum {
  background-color: #936c47;
}

.grid3block-layout .blockalbum .img {
  width: calc(100% - 90px);
  height: 100%;
  margin-right: 0;
  margin-left: auto;
}

.grid3block-layout .blockalbum .img::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 35px;
  border-color: transparent transparent transparent #936c47;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}

.grid3block-layout .blockalbum .title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-20%, -50%) rotate(90deg);
  -webkit-transform: translate(-20%, -50%) rotate(90deg);
}

.grid3block-layout .blockvideo {
  background-color: #819177;
}

.grid3block-layout .blockvideo .img {
  width: calc(100% - 90px);
  height: 100%;
}

.grid3block-layout .blockvideo .img::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 35px 30px 0;
  border-color: transparent #819177 transparent transparent;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}

.grid3block-layout .blockvideo .title {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%) rotate(90deg);
  -webkit-transform: translate(0%, -50%) rotate(90deg);
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
}

.sec-logos {
  text-align: center;
  color: #fff;
}

.sec-logos.sec-banner > .bg {
  background-image: url(../images/pattern.png);
  background-size: auto;
  background-repeat: repeat;
}

.sec-logos .animation-banner-text {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

.sec-logos .animation-banner-text > span {
  text-align: center;
}

.sec-logos .box-text {
  opacity: 0;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

.sec-logos .logo-intro-list .logo-intro-item {
  opacity: 0;
}

.logo-intro-list {
  display: inline-block;
  text-align: center;
}

.logo-intro-list .logo-intro-item {
  display: inline-block;
  margin: 10px 0;
  vertical-align: top;
  max-width: 50%;
  font-size: 18px;
}

.logo-intro-list .logo-intro-item:last-child {
  width: 100%;
  max-width: none;
}

.logo-intro-list .logo-intro-item img {
  display: block;
}

.wheel-down {
  width: 30px;
  height: 30px;
  position: fixed;
  left: 40px;
  bottom: 50px;
  opacity: 1;
  z-index: 5;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.wheel-down span {
  position: absolute;
  width: 100%;
  height: 1px;
  opacity: 0;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-animation: wheelArrow 2s ease-out infinite;
  animation: wheelArrow 2s ease-out infinite;
}

.wheel-down span:nth-child(1) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.wheel-down span:nth-child(2) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.wheel-down span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #fff;
  -webkit-transform: skewY(30deg);
  transform: skewY(30deg);
}

.wheel-down span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: skewY(-30deg);
  transform: skewY(-30deg);
}

.feature-videofullscreen {
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.feature-videofullscreen .video-holder {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.feature-videofullscreen .circle-play {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.feature-videofullscreen .circle-play:before {
  content: '';
  width: 100%;
  height: 100%;
  background: url(../images/play-circle.svg) no-repeat center center/contain;
  z-index: 1;
  display: block;
}

.video-controls {
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
}

.video-controls span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.video-controls > a {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.video-controls [data-state='play'] {
  background-image: url(../images/play.svg);
}

.video-controls [data-state='pause'] {
  background-image: url(../images/pause.svg);
}

.video-controls [data-state='unmute'] {
  background-image: url(../images/unmute.svg);
}

.video-controls [data-state='mute'] {
  background-image: url(../images/mute.svg);
}

.video-controls [data-state='go-fullscreen'] {
  background-image: url(../images/fullscreen.svg);
}

.video-controls [data-state='cancel-fullscreen'] {
  background-image: url(../images/cancel-fullscreen.svg);
}

.video-holder {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.video-holder:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.video-holder.hide {
  opacity: 0;
  visibility: hidden;
}

#toogleVideo.hide {
  opacity: 0;
  visibility: hidden;
}

.video-holder #video-youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
